@import url("../CherryFramework/style.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,600);
body { padding:0 !important; }
.ie8 body.subpage { background-position:50% -387px; }
body:not(.home) { background-position:50% -387px; }
h1, h2, h3, h4, h5, h6 { text-transform:uppercase; }
h1 small {
	font-size:inherit;
	color:inherit;
}
h2 { margin:0 0 21px; }
@media (min-width: 1200px) {
	h2 { margin-bottom:41px; }
}
h3 { margin:0 0 7px 0; }
h5 { margin:0 0 16px 0; }
p { margin-bottom:15px; }
a {
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
}
a:hover, a:focus { text-decoration:none; }
.main-holder { overflow:hidden; }
.header {
	background-color:transparent;
	border:none;
	padding:0 0 88px 0;
}
@media (max-width: 767px) {
	.header {
		background:url(images/body-img.jpg) no-repeat 50% 0%;
		background-size:cover;
		padding-left:20px;
		padding-right:20px;
		padding-top:20px;
	}
}
.home .header {
	height:1000px;
	padding-bottom:0;
	position:static;
}
@media (min-width: 1200px) {
	.home .header { height:1113px; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.home .header { height:900px; }
}
@media (max-width: 767px) {
	.home .header {
		height:auto;
		padding-bottom:50px;
	}
}
.header .slogan {
	font-size:70px;
	font-weight:300 !important;
	line-height:70px;
	color:#fff;
	text-align:center;
	margin:0;
}
@media (min-width: 768px) and (max-width: 979px) {
	.header .slogan {
		font-size:50px;
		line-height:50px;
	}
}
@media (max-width: 767px) {
	.header .slogan {
		font-size:50px;
		line-height:50px;
	}
}
@media (max-width: 480px) {
	.header .slogan {
		font-size:30px;
		line-height:30px;
	}
}
@media (max-width: 767px) {
	.pseudoStickyBlock { display:none !important; }
}
.search-form_it {
	padding-top:12px !important;
	padding-bottom:13px !important;
}
.logo { padding:81px 0 0 0; }
@media (min-width: 768px) and (max-width: 979px) {
	.logo { width:auto; }
}
@media (max-width: 767px) {
	.logo { padding-top:50px; }
}
.home .logo { padding-bottom:100px; }
@media (min-width: 1200px) {
	.home .logo { padding-bottom:126px; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.home .logo { padding-bottom:70px; }
}
@media (max-width: 767px) {
	.home .logo { padding-bottom:50px; }
}
.logo_h__txt { font-weight:600 !important; }
.logo_link { font-weight:600 !important; }
.logo_link:hover, .logo_link:focus { color:#fff; }
.logo_tagline { color:#fff; }
.nav-wrapper {
	position:relative;
	background-image:url(images/nav-tail.gif);
	z-index:100;
}
.nav-wrapper.isStuck:before {
	content:'';
	position:absolute;
	top:0;
	left:50%;
	margin:0 0 0 -150%;
	width:300%;
	height:100%;
	background-image:inherit;
	z-index:-1;
	-webkit-box-shadow:0 3px 8px rgba(0,0,0,0.15);
	-moz-box-shadow:0 3px 8px rgba(0,0,0,0.15);
	box-shadow:0 3px 8px rgba(0,0,0,0.15);
}
@media (max-width: 767px) {
	.nav-wrapper.isStuck:before { display:none; }
}
@media (max-width: 767px) {
	.nav-wrapper.isStuck {
		position:relative !important;
		top:0 !important;
	}
}
.nav-wrapper.isStuck .sf-menu > li:first-child > a:after { top:11px; }
.nav__primary { margin-bottom:0px; }
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
	top:-5px;
	margin-left:14px;
}
.sf-menu {
	width:100%;
	float:none;
	display:table;
	table-layout:fixed;
}
.sf-menu > li {
	background-color:transparent;
	background-repeat:no-repeat;
	background-image:url(images/nav-divider.gif);
	float:none;
	display:table-cell;
	vertical-align:top;
	padding-left:2px;
}
.sf-menu > li:first-child {
	padding-left:0;
	width:106px;
	background-repeat:repeat-x;
	background-image:url(images/nav-home.gif);
}
.sf-menu > li:first-child > a { font-size:0; }
.ie8 .sf-menu > li:first-child > a, .ie9 .sf-menu > li:first-child > a { padding-bottom:65px; }
.sf-menu > li:first-child > a:before {
	background-image:none !important;
	height:100%;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
	opacity:0;
	filter:alpha(opacity=0);
}
.sf-menu > li:first-child > a:after {
	content:'';
	width:29px;
	height:25px;
	position:absolute;
	left:38px;
	top:43px;
	background-repeat:no-repeat;
	background-position:0 0;
	background-image:url(images/icon-home.png);
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
}
.sf-menu > li:first-child > a:hover:before {
	background-color:#474646;
	opacity:1;
	filter:alpha(opacity=100);
}
.sf-menu > li > a {
	padding:47px 0;
	border:none;
	font-weight:600 !important;
	text-transform:uppercase;
	position:relative;
	z-index:1;
}
.isStuck .sf-menu > li > a { padding:15px 0; }
.sf-menu > li > a:before {
	content:'';
	position:absolute;
	top:0;
	left:0;
	right:0;
	height:0;
	background-position:0 100%;
	background-image:url(images/nav-current.gif);
	z-index:-1;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
}
.sf-menu li ul {
	width:100%;
	padding:35px 0 37px 0;
	background-color:#464646;
}
.sf-menu li li {
	background-color:transparent;
	margin-top:5px;
}
.sf-menu li li:first-child { margin-top:0; }
.sf-menu li li a {
	font-size:14px;
	font-family:'Open Sans', sans-serif;
	font-weight:600;
	color:#fff;
	text-transform:uppercase;
	border:none;
	padding:0;
}
.sf-menu li li ul { background-color:#9dc02e; }
.sf-menu li li ul:before {
	content:'';
	width:5px;
	height:9px;
	background-repeat:no-repeat;
	background-image:url(images/submenu-arrow.gif);
	position:absolute;
	left:-5px;
	top:13px;
}
.sf-menu li li li a { color:#fff; }
.sf-menu > li > a:hover, .sf-menu > li.sfHover> a, .sf-menu > li.current-menu-item > a, .sf-menu > li.current_page_item > a { background-color:transparent; }
.sf-menu > li > a:hover:before, .sf-menu > li.sfHover> a:before, .sf-menu > li.current-menu-item > a:before, .sf-menu > li.current_page_item > a:before { height:100%; }
.sf-menu > li.resident-login-menu { float:right; }
.sf-menu > li.resident-login-menu > a { background:#f0bd13; color:#4d3a30; padding-left:18px; padding-right:18px; }
.sf-menu > li.resident-login-menu > a:before { display:none; }
.sf-menu > li.resident-login-menu > a:hover, .sf-menu > li.resident-login-menu.sfHover > a { background:#dca900; color:#4d3a30; }
.sf-menu li li > a:hover, .sf-menu li li.sfHover > a, .sf-menu li li.current-menu-item > a, .sf-menu li li.current_page_item > a {
	background-color:transparent;
	color:#de752a;
}
.sf-menu li li li > a:hover, .sf-menu li li li.sfHover > a, .sf-menu li li li.current-menu-item > a, .sf-menu li li li.current_page_item > a { color:#615f5f; }
.content-holder { background-color:#fff; }
@media (max-width: 767px) {
	.content-holder {
		padding-left:20px;
		padding-right:20px;
	}
}
.home .content-holder { padding-bottom:0; }
#content { padding-top:41px; }
@media (min-width: 1200px) {
	#content { padding-top:82px; }
}
.title-section {
	margin-top:-29px;
	padding:20px 20px 23px 20px;
	background-color:#3f3f40;
}
@media (min-width: 1200px) {
	.title-section {
		padding-left:63px;
		padding-right:63px;
	}
}
.title-header {
	overflow:visible;
	margin:0 0 3px;
	font-size:34px;
	font-weight:300 !important;
	line-height:1em;
	color:#de752a;
}
@media (max-width: 767px) {
	.title-header {
		font-size:25px;
		line-height:30px;
		margin-bottom:10px;
	}
}
.breadcrumb__t {
	padding:0;
	background-color:transparent;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
}
.breadcrumb__t li {
	text-shadow:none;
	font-family:'Open Sans', sans-serif;
	font-size:16px;
	font-weight:300;
	text-transform:uppercase;
	color:#fff;
}
@media (max-width: 767px) {
	.breadcrumb__t li { font-size:14px; }
}
.breadcrumb__t li.active { color:#de752a; }
.breadcrumb__t li.divider {
	margin:0 21px;
	font:0/0 a;
	color:transparent;
	text-shadow:none;
	background-color:transparent;
	border:0;
}
@media (max-width: 767px) {
	.breadcrumb__t li.divider { margin:0 10px; }
}
.breadcrumb__t li.divider:after {
	content:'|';
	color:#fff;
	font:300 16px/23px 'Open Sans', sans-serif;
}
.breadcrumb__t li a { color:inherit; }
.breadcrumb__t li a:hover, .breadcrumb__t li a:focus { color:#de752a; }
.post__holder .post-header .post-title {
	font-size:40px;
	line-height:1em;
	margin:0 0 20px;
}
@media (min-width: 1200px) {
	.post__holder .post-header .post-title { margin-bottom:45px; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.post__holder .post-header .post-title {
		font-size:30px;
		line-height:30px;
	}
}
.post__holder .featured-thumbnail.large {
	margin-bottom:24px;
	margin-top:0;
}
.post__holder .btn-primary {
	font-size:15px;
	padding:13px 23px 14px;
}
.post_meta {
	font-size:14px;
	border-color:#ececec;
}
.post_meta i { color:#d8d8d8; }
.share-buttons span, .share-buttons li { line-height:18px; }
.post-author {
	padding:20px 45px 18px 20px;
	border:none;
	background-color:#fbfbfb;
}
.post-author_h {
	font-size:16px;
	font-weight:400 !important;
	line-height:1.2em;
	text-transform:none;
	margin:0 0 15px 0;
}
.post-author_h small {
	text-transform:capitalize;
	color:#de752a;
}
.post-author_h a {
	text-transform:capitalize;
	color:#615f5f;
}
.post-author_h a:hover, .post-author_h a:focus { color:#de752a; }
.post-author_link {
	font-size:16px;
	color:#615f5f;
	margin-top:.4em;
}
.post-author_link p { margin-bottom:0; }
.post-author_link a {
	text-transform:uppercase;
	color:#de752a;
}
.post-author_link a:hover, .post-author_link a:focus { color:#615f5f; }
.post-author_gravatar { margin:0 17px 0 0; }
.post-author_gravatar img {
	padding:0;
	border:none;
	background-color:transparent;
}
.post-author .post-author_desc {
	overflow:visible;
	margin-top:1em;
}
@media (min-width: 1200px) {
	.post-author .post-author_desc { overflow:hidden; }
}
.post-author .post-author_desc .post-author_link { font-size:16px; }
#recent-author-posts h3 { margin-bottom:20px; }
#recent-author-posts .post__holder { margin-bottom:40px; }
#recent-author-comments { padding-top:55px; }
#recent-author-comments h3 { margin-bottom:20px; }
#recent-author-comments ul { margin-left:0; }
#recent-author-comments ul li {
	font-weight:300;
	margin:10px 0 0 0;
	list-style-type:none;
}
#recent-author-comments ul li:first-child { margin-top:0; }
#recent-author-comments ul li:before {
	content:'';
	width:7px;
	height:11px;
	margin-right:10px;
	background-position:0 0;
	background-repeat:no-repeat;
	background-image:url(images/arrow1.png);
	display:inline-block;
	vertical-align:top;
	position:relative;
	top:6px;
}
#recent-author-comments ul li a {
	font-family:'Open Sans', sans-serif;
	text-transform:uppercase;
	text-shadow:0 0 0 #de752a;
}
#recent-author-comments ul li a:hover, #recent-author-comments ul li a:focus { text-shadow:0 0 0 #615f5f; }
.related-posts_h {
	font-size:40px;
	font-weight:400 !important;
	line-height:1em;
	margin-bottom:20px;
}
@media (min-width: 1200px) {
	.related-posts_h { margin-bottom:45px; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.related-posts_h {
		font-size:30px;
		line-height:30px;
	}
}
.related-posts_item { font-size:14px; }
.related-posts_item h3 {
	margin:0 0 10px;
	font-weight:300 !important;
}
@media (min-width: 768px) and (max-width: 979px) {
	.related-posts_item h3 {
		font-size:15px;
		line-height:20px;
	}
}
.related-posts_item h3 a { color:#615f5f; }
.related-posts_item h3 a:hover, .related-posts_item h3 a:focus { color:#de752a; }
.related-posts .featured-thumbnail { margin:0 0 27px 0; }
.testimonial {
	border:none;
	background-color:#fbfbfb;
	font-style:normal;
	font-family:Arial, Helvetica, sans-serif;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
}
.testimonial_bq p {
	font-size:14px;
	line-height:23px;
}
.testimonial small {
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	padding:12px 0 0;
	font-size:11.9px;
}
.pagination__posts ul {
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.pagination__posts ul li a {
	margin:0 2px 4px;
	border:none !important;
	background:none !important;
	text-transform:uppercase;
	text-shadow:0 0 0 #615f5f;
	font-family:'Open Sans', sans-serif;
	font-weight:300;
	color:#615f5f;
	-webkit-border-radius:0px !important;
	-moz-border-radius:0px !important;
	border-radius:0px !important;
}
.pagination__posts ul li a:hover {
	color:#fff;
	text-shadow:0 0 0 #fff;
	background:#de752a !important;
}
.pagination__posts ul .active a {
	color:#fff;
	text-shadow:0 0 0 #fff;
	background:#de752a !important;
}
.zoom-icon { background:rgba(80,79,86,0.5); }
.no-rgba .zoom-icon { background:url(images/gray-opacity-50.png); }
.zoom-icon:before {
	margin:-13px 0 0 -13px;
	width:26px;
	height:26px;
	background:url(images/magnify-alt.png) 50% 50% no-repeat;
	-webkit-transition:inherit;
	-moz-transition:inherit;
	-o-transition:inherit;
	transition:inherit;
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
	-ms-transform:scale(0);
	-o-transform:scale(0);
	transform:scale(0);
}
.featured-thumbnail a:hover .zoom-icon:before, a.thumbnail:hover .zoom-icon:before, .thumbnail__portfolio a:hover .zoom-icon:before {
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
}
.filter-wrapper .pull-right { float:left !important; }
.filter-wrapper strong { display:none; }
.nav-pills { margin-bottom:31px; }
@media (min-width: 1200px) {
	.nav-pills { margin-bottom:61px; }
}
.nav-pills li a {
	padding:0;
	margin:0 45px 0 0;
	font-size:18px;
	font-family:'Open Sans', sans-serif;
	text-transform:uppercase;
	line-height:23px;
	background:none !important;
	color:#3e454c;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
}
@media (max-width: 480px) {
	.nav-pills li a { padding:0; }
}
.nav-pills li a:hover { color:#de752a; }
.nav-pills li.active a { color:#de752a !important; }
.filterable-portfolio .portfolio_item { margin-bottom:30px; }
@media (min-width: 1200px) {
	.filterable-portfolio .portfolio_item { margin-bottom:60px; }
}
.filterable-portfolio .caption__portfolio { padding:24px 0 0 0; }
.filterable-portfolio h3 {
	font-weight:300;
	margin:0 0 10px 0;
}
.filterable-portfolio h3 a { color:#3e454c; }
.filterable-portfolio h3 a:hover, .filterable-portfolio h3 a:focus { color:#de752a; }
.filterable-portfolio p { margin-bottom:0; }
.filterable-portfolio p.excerpt { margin-bottom:23px; }
.filterable-portfolio .btn-primary {
	font-size:15px;
	padding:12px 23px 13px;
}
.portfolio-meta { border-color:#ececec; }
.portfolio-meta-list { border-color:#ececec; }
.portfolio-meta i { color:#d8d8d8; }
.single-portfolio .featured-thumbnail { margin-top:0; }
.single-pager { border-color:#ececec; }
.single-pager a {
	font-family:'Open Sans', sans-serif;
	font-weight:600;
	text-transform:uppercase;
	border:none !important;
	background:#de752a !important;
	color:#fff;
	-webkit-border-radius:0px !important;
	-moz-border-radius:0px !important;
	border-radius:0px !important;
}
.single-pager a:hover, .single-pager a:focus { background:#615f5f !important; }
.page-header {
	border:none;
	padding:0;
	margin:0;
}
.page-header h1 {
	font-size:40px;
	line-height:1em;
	margin:0 0 20px;
}
@media (min-width: 1200px) {
	.page-header h1 { margin-bottom:45px; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.page-header h1 {
		font-size:30px;
		line-height:30px;
	}
}
.comments-h {
	font-size:40px;
	font-weight:400 !important;
	line-height:1em;
	margin:0;
}
@media (min-width: 768px) and (max-width: 979px) {
	.comments-h {
		font-size:30px;
		line-height:30px;
	}
}
.comment .comment-body {
	margin-bottom:10px;
	padding:21px 35px 32px 20px;
	border:none;
	background:#fbfbfb;
	overflow:visible;
}
.comment .comment-body:hover .comment-meta, .comment .comment-body:hover .comment-author .author, .comment .comment-body:hover .comment-reply-link { color:#de752a; }
@media (max-width: 767px) {
	.comment .comment-body .extra-wrap {
		overflow:visible;
		*zoom:1;
	}
	.comment .comment-body .extra-wrap:before, .comment .comment-body .extra-wrap:after {
		display:table;
		content:"";
		line-height:0;
	}
	.comment .comment-body .extra-wrap:after { clear:both; }
}
.comment .comment-body p { margin-bottom:24px; }
.comment.bypostauthor .comment-body { background:#fbfbfb; }
.comment-author { margin:5px 17px 0 0; }
.comment-author .author {
	padding-top:13px;
	font-size:15px;
	font-weight:normal;
	text-transform:uppercase;
	color:#615f5f;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
}
.comment-meta {
	padding:0;
	font-size:15px;
	font-family:'Open Sans', sans-serif;
	color:#615f5f;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
}
.reply {
	margin-left:27px;
	font-size:15px;
	font-family:'Open Sans', sans-serif;
}
.reply .comment-reply-link {
	background:none;
	color:#615f5f;
	padding:0;
	text-transform:uppercase;
}
.reply .comment-reply-link:hover, .reply .comment-reply-link:focus { color:#615f5f !important; }
#respond h3 {
	font-size:40px;
	font-weight:400 !important;
	line-height:40px;
	margin-bottom:25px;
}
@media (min-width: 1200px) {
	#respond h3 { margin-bottom:45px; }
}
@media (min-width: 768px) and (max-width: 979px) {
	#respond h3 {
		font-size:30px;
		line-height:30px;
	}
}
#respond form .btn {
	margin-top:0;
	float:left;
}
.comment-list ul.children { margin-left:50px; }
@media (min-width: 768px) and (max-width: 979px) {
	.comment-list ul.children { margin:0; }
}
@media (max-width: 767px) {
	.comment-list ul.children { margin:0; }
}
#commentform p { *zoom:1; }
#commentform p:before, #commentform p:after {
	display:table;
	content:"";
	line-height:0;
}
#commentform p:after { clear:both; }
#commentform p.field { margin-bottom:10px; }
#commentform input[type="text"] {
	width:336px;
	padding:7px 16px;
	color:#bbbaba;
}
#commentform textarea {
	padding:7px 16px;
	color:#bbbaba;
	margin-bottom:12px;
	min-height:200px;
	height:200px;
}
#commentform #nsu-checkbox {
	float:right;
	position:relative;
	top:-54px;
}
@media (max-width: 480px) {
	#commentform #nsu-checkbox {
		top:0;
		float:none;
		padding-top:10px;
	}
}
#commentform #nsu-checkbox input[type="checkbox"] { margin-top:-2px; }
@media (max-width: 767px) {
	#commentform input[type="text"] {
		width:100%;
		height:40px;
	}
}
#sidebar { padding-top:41px; }
@media (min-width: 1200px) {
	#sidebar { padding-top:82px; }
}
#sidebar .widget { margin-bottom:33px; }
@media (min-width: 1200px) {
	#sidebar .widget { margin-bottom:67px; }
}
#sidebar .widget-title {
	font-size:40px;
	font-weight:400 !important;
	line-height:1em;
	margin:0 0 39px;
}
@media (min-width: 768px) and (max-width: 979px) {
	#sidebar .widget-title {
		font-size:30px;
		line-height:30px;
	}
}
#sidebar .widget ul { margin:0; }
#sidebar .widget ul li {
	font-family:'Open Sans', sans-serif;
	font-weight:300;
	margin:16px 0 0 0;
	list-style-type:none;
	text-transform:uppercase;
}
#sidebar .widget ul li:first-child { margin-top:0; }
#sidebar .widget ul li:before {
	content:'';
	width:7px;
	height:11px;
	margin-right:11px;
	background-position:0 0;
	background-repeat:no-repeat;
	background-image:url(images/arrow1.png);
	display:inline-block;
	vertical-align:top;
	position:relative;
	top:6px;
}
#sidebar .widget ul li a {
	color:#615f5f;
	text-shadow:0 0 0 #615f5f;
}
#sidebar .widget ul li a:hover, #sidebar .widget ul li a:focus {
	color:#de752a;
	text-shadow:0 0 0 #de752a;
}
#sidebar .widget ul ul { margin:16px 0 0 20px; }
#wp-calendar td#today {
	font-weight:bold;
	color:#de752a;
}
#wp-calendar caption { color:#de752a; }
#wp-calendar thead th { color:#de752a; }
.comments-custom li {
	margin:0 !important;
	font-family:Arial, Helvetica, sans-serif !important;
	text-transform:none !important;
}
.comments-custom li:before { display:none !important; }
.comments-custom_txt {
	padding:7px 0 0 0;
	border-top:1px solid #ddd;
	margin-top:7px;
}
.comments-custom_txt a { color:#4a4a4a !important; }
.comments-custom_txt a:hover {
	color:#de752a !important;
	text-decoration:none;
}
.comments-custom .ladle {
	position:relative;
	top:-2px;
}
.flickr_li { margin-top:0 !important; }
.flickr_li:before { display:none !important; }
.flickr_li .thumbnail:hover, .flickr_li .thumbnail:focus {
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.post-list li {
	font-family:Arial, Helvetica, sans-serif !important;
	text-transform:none !important;
}
.post-list li:before { display:none !important; }
.banners { margin-bottom:33px; }
@media (min-width: 1200px) {
	.banners { margin-bottom:67px; }
}
.social_li {
	margin-top:0 !important;
	font-family:Arial, Helvetica, sans-serif !important;
}
.social_li:before { display:none !important; }
.social_li a:before, .social_li a:after { display:none; }
.social_link:hover {
	filter:none !important;
	opacity:1;
	filter:alpha(opacity=100);
}
.social_link:hover .social_ico { color:#de752a; }
.social_ico {
	font-size:22px;
	color:#de752a;
	min-width:28px;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
}
.social_label { padding-top:3px; }
.social__row li { margin:0 5px 0 0 !important; }
.social__row li .social_ico { min-width:0px; }
.social__list li { margin:7px 0 0 0 !important; }
.social__list li:first-child { margin-top:0 !important; }
#sidebar .social__list li .social_ico { padding-top:3px; }
.recent-posts_li { margin-bottom:24px; }
.recent-posts_li .featured-thumbnail { margin:5px 20px 10px 0; }
@media (min-width: 1200px) {
	.recent-posts_li .featured-thumbnail { margin-right:30px; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.recent-posts_li .featured-thumbnail { max-width:120px; }
}
@media (max-width: 767px) {
	.recent-posts_li .featured-thumbnail { max-width:120px; }
}
@media (max-width: 320px) {
	.recent-posts_li .featured-thumbnail {
		max-width:none;
		float:none;
		display:inline-block;
		vertical-align:top;
		margin-right:0;
	}
}
.recent-posts_li h5 {
	margin:0 0 15px;
	font-size:20px;
	font-weight:300;
	line-height:25px;
}
.recent-posts_li h5 a { color:#615f5f; }
.recent-posts_li h5 a:hover, .recent-posts_li h5 a:focus { color:#de752a; }
@media (max-width: 767px) {
	.recent-posts.style-1 { margin-bottom:35px !important; }
}
.recent-posts.style-1 li {
	position:relative;
	min-height:182px;
	padding:50px 30px;
	margin-top:20px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
@media (min-width: 1200px) {
	.recent-posts.style-1 li {
		padding:82px 60px 0 60px;
		margin-top:30px;
		min-height:224px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.recent-posts.style-1 li {
		min-height:138px;
		padding:20px;
	}
}
@media (max-width: 767px) {
	.recent-posts.style-1 li {
		min-height:224px;
		max-width:370px;
	}
}
@media (max-width: 480px) {
	.recent-posts.style-1 li {
		min-height:170px;
		max-width:280px;
	}
}
.recent-posts.style-1 li:first-child { margin-top:0; }
.recent-posts.style-1 .featured-thumbnail {
	position:absolute;
	left:0;
	top:0;
	z-index:-1;
	margin:0;
	max-width:100%;
	width:auto !important;
}
.recent-posts.style-1 .featured-thumbnail a:before {
	content:'';
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
	background-color:rgba(63,63,64,0.5);
}
.no-rgba .recent-posts.style-1 .featured-thumbnail a:before { background-image:url(images/gray-opacity-50.png); }
.recent-posts.style-1 .featured-thumbnail a img {
	max-width:none;
	width:100%;
}
.recent-posts.style-1 h5 {
	margin:0;
	font-size:20px;
	line-height:25px;
}
.recent-posts.style-1 h5 a { color:#fff; }
.recent-posts.style-1 h5 a:hover, .recent-posts.style-1 h5 a:focus { color:#de752a; }
.recent-posts.style-1 .meta {
	font-size:14px;
	line-height:20px;
	text-transform:none;
	color:#de752a;
	padding:0;
	margin:0 0 -1px;
}
.recent-posts.style-1 .meta .post-comments { display:none; }
.mini-posts-list { margin:0 0 24px 0; }
.mini-post-holder {
	padding:24px 0 14px 0 !important;
	margin:0 !important;
	border-top:none;
	border-bottom:1px solid #efefef !important;
}
.mini-post-holder:first-child { padding-top:0 !important; }
.mini-post-holder h4 {
	font-size:20px;
	line-height:25px;
	margin:0 0 9px 0;
}
.mini-post-holder h4 a { color:#615f5f; }
.mini-post-holder h4 a:hover, .mini-post-holder h4 a:focus { color:#de752a; }
.mini-post-meta time {
	font-size:14px;
	color:#de752a;
}
.posts-list .post__holder {
	padding-left:100px;
	position:relative;
}
@media (min-width: 1200px) {
	.posts-list .post__holder { padding-right:100px; }
}
@media (max-width: 767px) {
	.posts-list .post__holder { padding-left:0; }
}
.posts-list .post_content { padding-bottom:30px; }
.posts-list .post-title {
	margin:4px 0 28px 0 !important;
	font-size:20px !important;
	line-height:1em !important;
}
.posts-list .post-title a {
	font-size:20px;
	line-height:1em;
	color:#615f5f;
	vertical-align:top;
}
.posts-list .post-title a:hover, .posts-list .post-title a:focus { color:#de752a; }
.posts-list .post_meta {
	border:none;
	padding:0;
	margin:0;
	position:absolute;
	left:0;
	top:0;
	font-family:'Open Sans', sans-serif;
	font-size:50px;
	font-weight:600;
	line-height:1em;
	color:#de752a;
}
@media (max-width: 767px) {
	.posts-list .post_meta {
		position:static;
		margin-bottom:20px;
	}
}
.posts-list .post_meta small {
	display:block;
	font-size:20px;
	font-weight:300;
	line-height:1em;
	text-transform:uppercase;
	color:#615f5f;
	padding:6px 0 0 7px;
}
.posts-grid li { padding-top:8px; }
@media (min-width: 481px) and (max-width: 767px) {
	.posts-grid li { *zoom:1; }
	.posts-grid li:before, .posts-grid li:after {
		display:table;
		content:"";
		line-height:0;
	}
	.posts-grid li:after { clear:both; }
}
.posts-grid li .featured-thumbnail { margin-bottom:20px; }
@media (min-width: 1200px) {
	.posts-grid li .featured-thumbnail { margin-bottom:33px; }
}
@media (min-width: 481px) and (max-width: 767px) {
	.posts-grid li .featured-thumbnail { margin-right:20px; }
}
.ie8 .posts-grid li .featured-thumbnail img { max-width:none; }
.posts-grid li .featured-thumbnail .post_meta {
	position:absolute;
	bottom:0;
	right:0;
}
@media (min-width: 481px) and (max-width: 767px) {
	.posts-grid .clear { clear:none; }
}
.posts-grid .post_meta {
	border:none;
	padding:12px 0 18px;
	margin:0;
	background-color:#615f5f;
	text-align:center;
	width:70px;
	font-family:'Open Sans', sans-serif;
	font-size:40px;
	font-weight:300;
	line-height:1em;
	letter-spacing:-1px;
	color:#fff;
}
@media (min-width: 768px) and (max-width: 979px) {
	.posts-grid .post_meta {
		font-size:30px;
		width:50px;
		padding:10px 0 12px;
	}
}
.posts-grid .post_meta small {
	text-transform:uppercase;
	font-size:15px;
	line-height:1em;
	letter-spacing:0;
	display:block;
	margin-top:7px;
	opacity:0.5;
	filter:alpha(opacity=50);
}
@media (min-width: 768px) and (max-width: 979px) {
	.posts-grid .post_meta small { font-size:13px; }
}
.posts-grid .post_meta span[class^="post_"] { margin-right:0; }
.posts-grid h5 {
	font-size:20px;
	font-weight:300 !important;
	line-height:1em;
	margin:0 0 15px;
}
.posts-grid h5 small {
	display:block;
	font-size:15px;
	line-height:1em;
	color:#615f5f;
	margin-top:4px;
}
.posts-grid h5 a { color:#3a3f4d; }
.posts-grid h5 a:hover, .posts-grid h5 a:focus { color:#de752a; }
.service-box {
	padding:0;
	margin-top:-223px;
	text-align:center;
	background-color:#fff;
	border:none;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
@media (min-width: 1200px) {
	.service-box { margin-top:-265px; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.service-box { margin-top:-201px; }
}
@media (max-width: 767px) {
	.service-box {
		margin-top:0;
		margin-bottom:20px;
	}
}
.service-box_header {
	background-color:#9cbf2d;
	height:222px;
	padding:22px 0 0 0;
	position:relative;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
@media (min-width: 1200px) {
	.service-box_header {
		padding-top:44px;
		height:264px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.service-box_header { height:200px; }
}
@media (max-width: 767px) {
	.service-box_header {
		height:auto;
		padding-bottom:25px;
	}
}
.service-box_header:before {
	content:'';
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	height:0;
	background-color:#615f5f;
	-webkit-transition:0.3s ease;
	-moz-transition:0.3s ease;
	-o-transition:0.3s ease;
	transition:0.3s ease;
}
.ie8 .service-box_header:before { display:none; }
.service-box_body { padding:20px; }
@media (min-width: 1200px) {
	.service-box_body { padding:42px 33px 0 33px; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.service-box_body { padding:15px; }
}
.service-box .icon {
	float:none;
	margin:0 auto 20px;
	width:84px;
	height:84px;
	background-color:#4d4d4d;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
	-webkit-transition:background-color 0.3s;
	-moz-transition:background-color 0.3s;
	-o-transition:background-color 0.3s;
	transition:background-color 0.3s;
}
@media (min-width: 1200px) {
	.service-box .icon { margin-bottom:29px; }
}
.service-box h2 {
	font-size:25px;
	font-weight:300;
	line-height:1em;
	overflow:visible;
	margin:0;
	padding:0 15px;
	color:#fff;
	position:relative;
}
@media (min-width: 1200px) {
	.service-box h2 {
		font-size:30px;
		padding:0 20px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.service-box h2 { font-size:18px; }
}
.service-box h5 {
	font-size:20px;
	font-weight:300;
	line-height:1em;
	overflow:visible;
	margin:0 0 12px;
	color:#464646;
}
.service-box.extra-btn { padding-bottom:43px; }
@media (min-width: 1200px) {
	.service-box.extra-btn { padding-bottom:86px; }
}
.service-box.extra-btn .service-box_txt { margin-bottom:0; }
.service-box.extra-btn .btn-align {
	position:absolute;
	right:0;
	bottom:0;
}
.service-box.extra-btn .btn-align .btn {
	width:44px;
	height:44px;
	padding:0;
	background-color:transparent;
	background-image:url(images/btn-tail.gif);
	position:relative;
	overflow:hidden;
	font:0/0 a;
	color:transparent;
	text-shadow:none;
	background-color:transparent;
	border:0;
}
.ie8 .service-box.extra-btn .btn-align .btn { filter:none !important; }
.service-box.extra-btn .btn-align .btn span {
	position:relative;
	display:block;
	width:inherit;
	height:inherit;
}
.service-box.extra-btn .btn-align .btn span:before {
	content:'';
	width:13px;
	height:13px;
	position:absolute;
	right:6px;
	bottom:7px;
	background-image:url(images/btn-icon.png);
	z-index:10;
}
.service-box.extra-btn .btn-align .btn:before, .service-box.extra-btn .btn-align .btn:after {
	content:'';
	width:inherit;
	height:inherit;
	position:absolute;
	left:0;
	top:0;
}
.service-box.extra-btn .btn-align .btn:before {
	background-color:transparent !important;
	background-image:url(images/btn-corner.png) !important;
	z-index:2;
}
.service-box.extra-btn .btn-align .btn:after {
	width:64px;
	height:64px;
	background-color:#615f5f;
	left:-33px;
	top:-33px;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
}
.ie8 .service-box.extra-btn .btn-align .btn:after { display:none; }
.service-box.extra-btn .btn-align .btn:hover, .service-box.extra-btn .btn-align .btn:focus { background-position:0 0 !important; }
.ie8 .service-box.extra-btn .btn-align .btn:hover, .ie8 .service-box.extra-btn .btn-align .btn:focus {
	background-image:none;
	background-color:#615f5f;
}
.service-box.extra-btn .btn-align .btn:hover:after, .service-box.extra-btn .btn-align .btn:focus:after {
	left:-10px;
	top:-10px;
}
.service-box:hover .service-box_header:before { height:100%; }
.ie8 .service-box:hover .service-box_header { background-color:#615f5f; }
.service-box:hover .icon {
	background-color:#de752a;
	transform:rotateY(360deg);
	-webkit-transform:rotateY(360deg);
	-webkit-transition:transform 0.5s;
	-moz-transition:transform 0.5s;
	-o-transition:transform 0.5s;
	transition:transform 0.5s;
}
.banner-wrap .featured-thumbnail a { border:none; }
.banner-wrap.extra-style {
	margin:-70px 0 0 0;
	position:relative;
	background-color:#454545;
	min-height:139px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.banner-wrap.extra-style {
		min-height:100px;
		margin-top:-50px;
	}
}
@media (max-width: 767px) {
	.banner-wrap.extra-style {
		margin-top:0;
		margin-bottom:20px;
	}
}
@media (max-width: 480px) {
	.banner-wrap.extra-style { min-height:0; }
}
.banner-wrap.extra-style h5 {
	font-size:27px;
	font-weight:normal;
	line-height:1em;
	color:#fff;
	text-transform:uppercase;
	margin:0;
	padding:20px 70px 20px 20px;
}
@media (min-width: 1200px) {
	.banner-wrap.extra-style h5 {
		font-size:30px;
		padding:39px 70px 40px 38px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.banner-wrap.extra-style h5 { font-size:19px; }
}
@media (max-width: 480px) {
	.banner-wrap.extra-style h5 { font-size:22px; }
}
.banner-wrap.extra-style h5 strong {
	font-weight:normal;
	color:#9dc02e;
	display:block;
}
.banner-wrap.extra-style .banner-btn a {
	position:absolute;
	right:0;
	top:0;
	width:50px;
	height:100%;
	display:block;
	overflow:hidden;
	background-repeat:repeat-x;
	background-position:0 0;
	background-image:url(images/btn-tail1.gif);
}
.banner-wrap.extra-style .banner-btn a:before {
	content:'';
	position:absolute;
	left:-50px;
	top:0;
	background-color:#474646;
	width:50px;
	height:100%;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
}
.banner-wrap.extra-style .banner-btn a:hover:before, .banner-wrap.extra-style .banner-btn a:focus:before { left:0; }
.banner-wrap.extra-style .banner-btn a .arrow {
	display:block;
	height:inherit;
	background-repeat:no-repeat;
	background-position:16px 50%;
	background-image:url(images/arrow.png);
	position:relative;
	z-index:2;
}
.footer {
	background-color:#ebebeb;
	border:none;
	padding:39px 0 50px 0;
}
@media (min-width: 1200px) {
	.footer { padding:61px 0 102px 0; }
}
@media (max-width: 767px) {
	.footer {
		padding-left:20px;
		padding-right:20px;
	}
}
.footer-widgets { padding-bottom:28px; }
@media (min-width: 1200px) {
	.footer-widgets { padding-bottom:56px; }
}
.footer-widgets h1, .footer-widgets h2, .footer-widgets h3, .footer-widgets h4, .footer-widgets h5, .footer-widgets h6 { color:#fff; }
.footer-widgets .widget {
	margin:0 0 0 0;
	color:#7d7d7d;
}
@media (max-width: 767px) {
	.footer-widgets .widget { margin-bottom:20px; }
}
.footer-widgets .widget-title {
	font-size:20px;
	font-weight:300;
	line-height:1em;
	margin:0 0 33px 0;
}
.footer-widgets .widget ul { margin-left:0; }
@media (max-width: 767px) {
	.footer-widgets .widget ul { margin-bottom:0; }
}
.footer-widgets .widget ul li {
	list-style-type:none;
	font-size:12px;
	line-height:18px;
	text-transform:uppercase;
	margin:4px 0 0 0;
}
.footer-widgets .widget ul li:first-child { margin-top:0; }
.footer-widgets .widget ul li a { color:#7d7d7d; }
.footer-widgets .widget ul li a:hover, .footer-widgets .widget ul li a:focus { color:#fff; }
.footer-widgets .widget ul li.current-menu-item a, .footer-widgets .widget ul li.current_page_item a { color:#fff; }
.footer-widgets .widget address {
	text-transform:uppercase;
	line-height:17px;
}
.footer-widgets .widget address span {
	display:block;
	position:relative;
	margin:21px 0 0 0;
}
@media (min-width: 1200px) {
	.footer-widgets .widget address span { padding-left:39px; }
}
.footer-widgets .widget address span:first-child { margin-top:0; }
.footer-widgets .widget address span:before {
	font-family:FontAwesome;
	font-size:22px;
	color:#de752a;
	display:block;
	margin-bottom:5px;
}
@media (min-width: 1200px) {
	.footer-widgets .widget address span:before {
		position:absolute;
		left:0;
		top:0;
		margin-bottom:0;
	}
}
.footer-widgets .widget address span.locality:before { content:'\f015'; }
.footer-widgets .widget address span.phone:before { content:'\f098'; }
nav.footer-nav { margin-bottom:0; }
@media (min-width: 768px) and (max-width: 979px) {
	nav.footer-nav { float:right; }
}
@media (min-width: 768px) and (max-width: 979px) {
	nav.footer-nav ul {
		float:right;
		text-align:center;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	nav.footer-nav ul li {
		float:none;
		display:inline-block;
		vertical-align:top;
		padding:0 0 0 15px;
	}
}
@media (max-width: 767px) {
	nav.footer-nav ul li { padding:0 3px; }
}
nav.footer-nav ul li a { font-weight:300 !important; }
nav.footer-nav ul li a:hover, nav.footer-nav ul li a:focus { color:#fff; }
nav.footer-nav ul li.current-menu-item a {
	color:#fff;
	text-decoration:none;
}
.copyright { padding:0; }
.footer-text {
	font-size:15px;
	font-weight:300;
	font-family:'Open Sans', sans-serif;
	color:#7d7d7d;
}
.footer-text a { color:inherit; }
.footer-text a:hover, .footer-text a:focus { color:#fff; }
.footer-text a.site-name {
	text-transform:uppercase;
	font-weight:600;
	color:#fff;
}
.footer-text a.site-name:before {
	content:'';
	width:40px;
	height:27px;
	background-image:url(images/icon-cap.png);
	display:inline-block;
	vertical-align:top;
	margin:0 16px 0 0;
	position:relative;
	top:1px;
}
.footer-text a.site-name:hover, .footer-text a.site-name:focus { color:#de752a; }
.dropcap {
	margin:0 10px 10px 0;
	width:56px;
	height:56px;
	background:#de752a;
	font-family:'Open Sans', sans-serif;
	font-weight:600;
	line-height:56px;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.dropcap {
		float:none;
		margin-right:0;
	}
}
@media (max-width: 767px) {
	.dropcap {
		float:none;
		margin-right:0;
	}
}
input[type="submit"], input[type="reset"] {
	font-size:15px;
	height:50px;
	padding-left:23px;
	padding-right:23px;
}
input[type="submit"]:hover, input[type="submit"]:focus, input[type="reset"]:hover, input[type="reset"]:focus {
	background-color:#4a4a4a;
	background-image:-moz-linear-gradient(top,#4e4e4e,#444444);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#4e4e4e),to(#444444));
	background-image:-webkit-linear-gradient(top,#4e4e4e,#444444);
	background-image:-o-linear-gradient(top,#4e4e4e,#444444);
	background-image:linear-gradient(to bottom,#4e4e4e,#444444);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4e4e4e', endColorstr='#ff444444', GradientType=0);
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	padding:7px 16px;
	border-color:#e1e0e0;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
select:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	border-color:#de752a;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
textarea { border-color:#e1e0e0 !important; }
textarea:focus { border-color:#de752a !important; }
.wpcf7-form p.field input {
	padding:7px 16px;
	height:40px;
	line-height:22px;
}
.wpcf7-form textarea {
	padding:7px 16px;
	line-height:23px;
}
.wpcf7-form .ajax-loader { margin-top:14px; }
.wpcf7-not-valid-tip { padding:7px 0 7px 12px !important; }
@media (min-width: 1200px) {
	.wpcf7-not-valid-tip { padding-left:16px !important; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.wpcf7-not-valid-tip { padding-left:6px !important; }
}
.nsu-form {
	margin-bottom:0;
	padding-left:15px;
	*zoom:1;
}
.nsu-form:before, .nsu-form:after {
	display:table;
	content:"";
	line-height:0;
}
.nsu-form:after { clear:both; }
@media (min-width: 1200px) {
	.nsu-form { padding-left:114px; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.nsu-form { padding-left:0; }
}
@media (max-width: 767px) {
	.nsu-form { padding-left:0; }
}
.nsu-form p {
	margin:0;
	float:left;
}
@media (max-width: 767px) {
	.nsu-form p {
		float:none;
		display:block;
	}
}
.nsu-form label {
	float:left;
	text-transform:uppercase;
	font-family:'Open Sans', sans-serif;
	font-weight:300;
	font-size:20px;
	line-height:42px;
	color:#1c1d21;
	margin:0 20px 0 0;
	-webkit-transition:color 0.3s;
	-moz-transition:color 0.3s;
	-o-transition:color 0.3s;
	transition:color 0.3s;
}
@media (min-width: 1200px) {
	.nsu-form label { margin-right:47px; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.nsu-form label {
		font-size:15px;
		margin-right:16px;
	}
}
@media (max-width: 767px) {
	.nsu-form label {
		margin-right:0;
		line-height:1.2em;
		float:none;
		display:inline;
		vertical-align:top;
	}
}
.nsu-form label:hover { color:#de752a; }
.nsu-form label:before {
	content:'\f003';
	font-size:30px;
	font-family:FontAwesome;
	color:#9dc02e;
	padding:0 19px 0 0;
	position:relative;
	top:2px;
}
@media (max-width: 767px) {
	.nsu-form label:before {
		top:0;
		display:block;
		padding-right:0;
		margin-bottom:8px;
	}
}
.nsu-form input[type="email"], .nsu-form input[type="text"] {
	width:378px;
	height:50px;
	padding:12px 22px 14px;
	margin:0 20px 0 0;
	border-color:transparent;
	font-size:14px;
	font-weight:300;
	font-family:'Open Sans', sans-serif;
	color:#3e454c;
	background-color:#fff;
	text-transform:uppercase;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.nsu-form input[type="email"]:-moz-placeholder, .nsu-form input[type="text"]:-moz-placeholder { color:#3e454c; }
.nsu-form input[type="email"]:-ms-input-placeholder, .nsu-form input[type="text"]:-ms-input-placeholder { color:#3e454c; }
.nsu-form input[type="email"]::-webkit-input-placeholder, .nsu-form input[type="text"]::-webkit-input-placeholder { color:#3e454c; }
@media (min-width: 1200px) {
	.nsu-form input[type="email"], .nsu-form input[type="text"] { width:381px; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.nsu-form input[type="email"], .nsu-form input[type="text"] { width:280px; }
}
@media (max-width: 767px) {
	.nsu-form input[type="email"], .nsu-form input[type="text"] {
		width:100%;
		margin:10px 0;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
}
.nsu-form input[type="email"]:focus, .nsu-form input[type="text"]:focus {
	border-color:#de752a !important;
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;
	box-shadow:none !important;
}
.nsu-form input[type="submit"] {
	padding:0 39px;
	height:50px;
	border:none;
	font-size:15px;
	font-weight:600;
	font-family:'Open Sans', sans-serif;
	text-transform:uppercase;
	color:#fff;
	background-color:#a2c331;
	background-image:-moz-linear-gradient(top,#a8c733,#9abe2d);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#a8c733),to(#9abe2d));
	background-image:-webkit-linear-gradient(top,#a8c733,#9abe2d);
	background-image:-o-linear-gradient(top,#a8c733,#9abe2d);
	background-image:linear-gradient(to bottom,#a8c733,#9abe2d);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa8c733', endColorstr='#ff9abe2d', GradientType=0);
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
}
@media (min-width: 768px) and (max-width: 979px) {
	.nsu-form input[type="submit"] { padding:0 30px; }
}
.nsu-form input[type="submit"]:hover, .nsu-form input[type="submit"]:focus {
	background-color:#4a4a4a;
	background-image:-moz-linear-gradient(top,#4e4e4e,#444444);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#4e4e4e),to(#444444));
	background-image:-webkit-linear-gradient(top,#4e4e4e,#444444);
	background-image:-o-linear-gradient(top,#4e4e4e,#444444);
	background-image:linear-gradient(to bottom,#4e4e4e,#444444);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4e4e4e', endColorstr='#ff444444', GradientType=0);
}
.nsu-form .nsu-error {
	color:red;
	text-align:left;
	position:absolute;
	bottom:20px;
	right:177px;
	font-size:14px;
	font-family:'Open Sans', sans-serif;
	font-weight:300;
	text-transform:uppercase;
	background-color:#fff;
	width:378px;
	height:50px;
	line-height:50px;
	padding:0 0 0 22px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
@media (min-width: 1200px) {
	.nsu-form .nsu-error {
		right:276px;
		width:381px;
		bottom:44px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.nsu-form .nsu-error {
		width:280px;
		bottom:20px;
		right:153px;
		font-size:13px;
		padding-left:10px;
	}
}
@media (max-width: 767px) {
	.nsu-form .nsu-error {
		width:100%;
		right:auto;
		left:0;
		bottom:10px;
		padding-left:15px;
		font-size:13px;
	}
}
section.fixed_parallax_section { min-height:312px; }
section.fixed_parallax_section .parallax_content { padding:106px 0; }
section.fixed_parallax_section .parallax_inner:before { display:none; }
.flexslider ul li { text-transform:none !important; }
.flexslider ul li:before { display:none !important; }
.flexslider ul li h5 a:hover, .flexslider ul li h5 a:focus { color:#615f5f; }
.flexslider.testimonials {
	margin-bottom:0;
	padding:0 50px;
	overflow:visible !important;
}
.flexslider.testimonials li { text-align:center; }
.flexslider.testimonials li .column {
	display:inline-block;
	vertical-align:top;
}
@media (max-width: 767px) {
	.flexslider.testimonials li .column { display:block; }
}
.flexslider.testimonials li .column-2 { text-align:left; }
@media (min-width: 768px) and (max-width: 979px) {
	.flexslider.testimonials li .column-2 { width:400px; }
}
@media (max-width: 767px) {
	.flexslider.testimonials li .column-2 { text-align:center; }
}
.flexslider.testimonials li h5 { display:none; }
.flexslider.testimonials li .excerpt {
	color:#fff;
	font-size:24px;
	font-family:'Open Sans', sans-serif;
	font-style:italic;
	font-weight:300;
	line-height:1.5em;
	margin-bottom:19px;
	padding-top:7px;
}
.flexslider.testimonials li .excerpt a { color:#fff; }
.flexslider.testimonials li .excerpt a:hover, .flexslider.testimonials li .excerpt a:focus { color:#de752a; }
.flexslider.testimonials li .quote {
	display:inline-block;
	vertical-align:top;
	width:100px;
	height:100px;
	line-height:100px;
	font-size:50px;
	color:#fff;
	margin:0 -29px 0 0;
	text-align:center;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
	background-color:#4a4a4a;
	background-image:-moz-linear-gradient(top,#4e4e4e,#444444);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#4e4e4e),to(#444444));
	background-image:-webkit-linear-gradient(top,#4e4e4e,#444444);
	background-image:-o-linear-gradient(top,#4e4e4e,#444444);
	background-image:linear-gradient(to bottom,#4e4e4e,#444444);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4e4e4e', endColorstr='#ff444444', GradientType=0);
}
.flexslider.testimonials li .featured-thumbnail {
	float:none;
	position:relative;
	overflow:visible;
	display:inline-block;
	vertical-align:top;
	width:100px;
	height:100px;
	margin:0 44px 0 0;
	background-image:none !important;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
	background-color:#a2c331;
	background-image:-moz-linear-gradient(top,#a8c733,#9abe2d);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#a8c733),to(#9abe2d));
	background-image:-webkit-linear-gradient(top,#a8c733,#9abe2d);
	background-image:-o-linear-gradient(top,#a8c733,#9abe2d);
	background-image:linear-gradient(to bottom,#a8c733,#9abe2d);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa8c733', endColorstr='#ff9abe2d', GradientType=0);
}
@media (min-width: 768px) and (max-width: 979px) {
	.flexslider.testimonials li .featured-thumbnail { margin-right:20px; }
}
@media (max-width: 767px) {
	.flexslider.testimonials li .featured-thumbnail { margin-right:0; }
}
.flexslider.testimonials li .featured-thumbnail i {
	font-size:50px;
	color:#fff;
	line-height:100px;
}
.flexslider.testimonials li .post_options .info, .flexslider.testimonials li .post_options a { display:none; }
.flexslider.testimonials li .post_options .user {
	font-family:'Open Sans', sans-serif;
	font-size:24px;
	font-weight:600;
	line-height:1.2em;
	color:#9dc02e;
}
.flexslider.testimonials li .post_options .user:before { content:'- '; }
.flexslider.testimonials .flex-direction-nav a {
	width:19px;
	height:30px;
	top:50%;
	margin:-15px 0 0 0;
	opacity:1;
}
.flexslider.testimonials .flex-direction-nav a:hover {
	opacity:0.8;
	filter:alpha(opacity=80);
}
.flexslider.testimonials .flex-direction-nav a:before {
	content:'';
	width:19px;
	height:30px;
}
.flexslider.testimonials .flex-direction-nav a.flex-prev { left:0; }
@media (max-width: 767px) {
	.flexslider.testimonials .flex-direction-nav a.flex-prev { left:15px; }
}
.flexslider.testimonials .flex-direction-nav a.flex-prev:before { background-image:url(images/prev.png); }
.flexslider.testimonials .flex-direction-nav a.flex-next { right:0; }
@media (max-width: 767px) {
	.flexslider.testimonials .flex-direction-nav a.flex-next { right:15px; }
}
.flexslider.testimonials .flex-direction-nav a.flex-next:before { background-image:url(images/next.png); }
.flex-control-paging li a {
	background-color:#4a4a4a;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.flex-control-paging li a:hover, .flex-control-paging li a.flex-active { background-color:#615f5f; }
.thumbnail, .featured-thumbnail {
	border:none;
	padding:0;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.list.styled > ul li {
	font-size:15px;
	font-family:'Open Sans', sans-serif;
	font-weight:300;
	text-transform:uppercase;
}
.list.styled > ul li:before { color:#9dc02e; }
.list.styled > ul li a {
	color:#615f5f;
	text-shadow:0 0 0 #615f5f;
}
.list.styled > ul li a:hover, .list.styled > ul li a:focus {
	color:#de752a;
	text-shadow:0 0 0 #de752a;
}
.list.styled.arrow-list > ul, .list.styled.arrow2-list > ul { margin-left:0; }
.list.styled.arrow-list > ul li, .list.styled.arrow2-list > ul li {
	font-size:14px;
	margin:7px 0 0 0;
}
.list.styled.arrow-list > ul li:first-child, .list.styled.arrow2-list > ul li:first-child { margin-top:0; }
.list.styled.arrow-list > ul li:before, .list.styled.arrow2-list > ul li:before {
	content:'';
	width:7px;
	height:11px;
	margin-right:8px;
	background-position:0 0;
	background-repeat:no-repeat;
	background-image:url(images/arrow1.png);
	vertical-align:top;
	position:relative;
	top:6px;
}
.list.styled.arrow2-list > ul li { margin-top:16px; }
.list.styled.custom-list > ul { margin-left:0; }
.list.styled.custom-list > ul li {
	margin:0;
	font-family:'Open Sans', sans-serif;
	font-size:13px;
	line-height:59px;
	text-transform:uppercase;
	background-color:#f4f5f5;
}
@media (min-width: 1200px) {
	.list.styled.custom-list > ul li { font-size:15px; }
}
@media (max-width: 767px) {
	.list.styled.custom-list > ul li { font-size:15px; }
}
.list.styled.custom-list > ul li:nth-child(2n) { background-color:#fafafa; }
.ie8 .list.styled.custom-list > ul li.even { background-color:#fafafa; }
.list.styled.custom-list > ul li:before { display:none; }
.list.styled.custom-list > ul li a {
	display:block;
	color:#464646;
	padding:18px 10px 18px 15px;
	line-height:23px;
	position:relative;
	z-index:1;
}
@media (min-width: 1200px) {
	.list.styled.custom-list > ul li a {
		padding-left:30px;
		padding-right:12px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.list.styled.custom-list > ul li a {
		padding-top:10px;
		padding-bottom:10px;
	}
}
.list.styled.custom-list > ul li a:before {
	content:'';
	width:7px;
	height:11px;
	display:inline-block;
	vertical-align:top;
	margin:6px 10px 0 0;
	background-image:url(images/arrow1.png);
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
@media (min-width: 1200px) {
	.list.styled.custom-list > ul li a:before { margin-right:18px; }
}
.list.styled.custom-list > ul li a:after {
	content:'';
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	width:0;
	background-color:#615f5f;
	z-index:-1;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
.list.styled.custom-list > ul li a:hover, .list.styled.custom-list > ul li a:focus { color:#fff; }
.list.styled.custom-list > ul li a:hover:before, .list.styled.custom-list > ul li a:focus:before {
	-webkit-transform:translate(3px,0);
	-moz-transform:translate(3px,0);
	-ms-transform:translate(3px,0);
	-o-transform:translate(3px,0);
	transform:translate(3px,0);
}
@media (min-width: 1200px) {
	.list.styled.custom-list > ul li a:hover:before, .list.styled.custom-list > ul li a:focus:before {
		-webkit-transform:translate(7px,0);
		-moz-transform:translate(7px,0);
		-ms-transform:translate(7px,0);
		-o-transform:translate(7px,0);
		transform:translate(7px,0);
	}
}
.list.styled.custom-list > ul li a:hover:after, .list.styled.custom-list > ul li a:focus:after { width:100%; }
.alignleft { margin:3px 20px 10px 0; }
@media (min-width: 1200px) {
	.alignleft { margin-right:30px; }
}
.extra-img { width:220px; }
@media (min-width: 1200px) {
	.extra-img { width:auto; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.extra-img { width:140px; }
}
@media (max-width: 480px) {
	.extra-img {
		width:auto;
		float:none;
		margin-right:0;
		display:block;
	}
}
.title-box { margin-bottom:21px; }
@media (min-width: 1200px) {
	.title-box { margin-bottom:31px; }
}
.title-box_primary {
	font-size:60px;
	line-height:1em;
	color:#9dc02e;
	margin-bottom:4px;
}
@media (max-width: 480px) {
	.title-box_primary { font-size:45px; }
}
.title-box_secondary {
	font-size:30px;
	line-height:1em;
}
@media (max-width: 480px) {
	.title-box_secondary { font-size:25px; }
}
.title-box.small {
	margin:10px 0 0 0;
	padding:20px;
}
@media (min-width: 1200px) {
	.title-box.small { padding:33px 35px 35px 35px; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.title-box.small { padding:10px 15px 14px; }
}
.title-box.small .title-box_primary {
	font-size:25px;
	color:#fff;
}
@media (min-width: 1200px) {
	.title-box.small .title-box_primary { font-size:30px; }
}
.title-box.small .title-box_secondary { font-size:15px; }
.title-box.color-1 {
	background-color:#a2c331;
	background-image:-moz-linear-gradient(top,#a8c733,#9abe2d);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#a8c733),to(#9abe2d));
	background-image:-webkit-linear-gradient(top,#a8c733,#9abe2d);
	background-image:-o-linear-gradient(top,#a8c733,#9abe2d);
	background-image:linear-gradient(to bottom,#a8c733,#9abe2d);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa8c733', endColorstr='#ff9abe2d', GradientType=0);
}
.title-box.color-2 {
	background-color:#4a4a4a;
	background-image:-moz-linear-gradient(top,#4e4e4e,#444444);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#4e4e4e),to(#444444));
	background-image:-webkit-linear-gradient(top,#4e4e4e,#444444);
	background-image:-o-linear-gradient(top,#4e4e4e,#444444);
	background-image:linear-gradient(to bottom,#4e4e4e,#444444);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4e4e4e', endColorstr='#ff444444', GradientType=0);
}
.title-box.color-2 .title-box_secondary { color:#fff; }
.hr {
	margin:45px 0 35px;
	background:#f1f1f1;
}
@media (min-width: 1200px) {
	.hr { margin:74px 0 64px 0; }
}
@media (max-width: 767px) {
	.hr { margin-top:25px; }
}
.btn-link {
	padding:0;
	font-family:'Open Sans', sans-serif;
	text-transform:uppercase;
}
.btn-link.btn-normal { font-size:14px; }
.btn-link:hover, .btn-link:focus { text-decoration:none; }
.btn-primary {
	border:none;
	text-shadow:none;
	font-weight:600;
	font-family:'Open Sans', sans-serif;
	text-transform:uppercase;
	color:#fff !important;
	position:relative;
	z-index:1;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	background-color:#a2c331;
	background-image:-moz-linear-gradient(top,#a8c733,#9abe2d);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#a8c733),to(#9abe2d));
	background-image:-webkit-linear-gradient(top,#a8c733,#9abe2d);
	background-image:-o-linear-gradient(top,#a8c733,#9abe2d);
	background-image:linear-gradient(to bottom,#a8c733,#9abe2d);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa8c733', endColorstr='#ff9abe2d', GradientType=0);
}
.btn-primary:before {
	content:'';
	position:absolute;
	width:0;
	left:0;
	top:0;
	bottom:0;
	z-index:-1;
	background-color:#4a4a4a;
	background-image:-moz-linear-gradient(top,#4e4e4e,#444444);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#4e4e4e),to(#444444));
	background-image:-webkit-linear-gradient(top,#4e4e4e,#444444);
	background-image:-o-linear-gradient(top,#4e4e4e,#444444);
	background-image:linear-gradient(to bottom,#4e4e4e,#444444);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4e4e4e', endColorstr='#ff444444', GradientType=0);
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
}
.btn-primary:hover, .btn-primary:focus { background-position:0 0; }
.btn-primary:hover:before, .btn-primary:focus:before { width:100%; }
.btn-primary.btn-normal {
	font-size:15px;
	padding:13px 20px 14px;
}
.content_box:before, .content_box:after { background-color:inherit; }
.content_box.style-1 {
	background-color:#f6f6f6;
	padding-bottom:145px;
}
@media (max-width: 767px) {
	.content_box.style-1 {
		padding-top:20px;
		padding-bottom:0;
		margin-bottom:20px;
	}
}
.content_box.style-2 {
	background-color:#f5f5f6;
	padding:40px 0 44px 0;
}
.content_box.style-3 {
	background-color:#f5f6f6;
	padding:45px 0 5px;
	margin-top:20px;
	margin-bottom:45px;
}
@media (min-width: 1200px) {
	.content_box.style-3 {
		padding:85px 0 45px;
		margin-bottom:90px;
	}
}
#back-top { margin-bottom:0; }
#back-top-wrapper {
	right:15px;
	bottom:15px;
}
#back-top a:hover span { background-color:#7d7d7d; }
#back-top span {
	margin-bottom:0;
	background-color:#de752a;
}
.spacer { height:52px; }
@media (max-width: 767px) {
	.spacer { height:26px; }
}
.clearfix { *zoom:1; }
.clearfix:before, .clearfix:after {
	display:table;
	content:"";
	line-height:0;
}
.clearfix:after { clear:both; }
.hide-text {
	font:0/0 a;
	color:transparent;
	text-shadow:none;
	background-color:transparent;
	border:0;
}
.input-block-level {
	display:block;
	width:100%;
	min-height:33px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
